* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: aquamarine;
}

h1 {
    color: blue;
    font-size: 3em;
}

ul {
    text-decoration: none;
    list-style: none;

}

li {
    display: flex;
    justify-content: stretch;
    margin: 10px;
    font-size: 2em;
    background-color: brown;
    color: white;
}

.texto-marron {
    color: brown;
}